# ===========================
# Python
# ===========================
__pycache__/
*.pyc
*.pyo

# ===========================
# Virtual Environment
# ===========================
venv/
.env

# ===========================
# Jupyter Notebook
# ===========================
.ipynb_checkpoints/

# ===========================
# Large Model Files
# Ignore all model files EXCEPT
# the trained EfficientNet model
# ===========================
*.h5
!models/efficientnet_model.h5

*.keras
*.pt
*.pth

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# Operating System Files
# ===========================
.DS_Store
Thumbs.db